body { background-image: linear-gradient(157.5deg, rgba(197, 45, 183,0.2) 0%, rgba(197, 45, 183,0.2) 16.667%,rgba(49, 20, 191,0.2) 16.667%, rgba(49, 20, 191,0.2) 33.334%,rgba(160, 39, 185,0.2) 33.334%, rgba(160, 39, 185,0.2) 50.001%,rgba(123, 32, 187,0.2) 50.001%, rgba(123, 32, 187,0.2) 66.668%,rgba(234, 51, 181,0.2) 66.668%, rgba(234, 51, 181,0.2) 83.335%,rgba(86, 26, 189,0.2) 83.335%, rgba(86, 26, 189,0.2) 100.002%),linear-gradient(0deg, rgba(197, 45, 183,0.2) 0%, rgba(197, 45, 183,0.2) 16.667%,rgba(49, 20, 191,0.2) 16.667%, rgba(49, 20, 191,0.2) 33.334%,rgba(160, 39, 185,0.2) 33.334%, rgba(160, 39, 185,0.2) 50.001%,rgba(123, 32, 187,0.2) 50.001%, rgba(123, 32, 187,0.2) 66.668%,rgba(234, 51, 181,0.2) 66.668%, rgba(234, 51, 181,0.2) 83.335%,rgba(86, 26, 189,0.2) 83.335%, rgba(86, 26, 189,0.2) 100.002%),linear-gradient(112.5deg, rgba(197, 45, 183,0.2) 0%, rgba(197, 45, 183,0.2) 16.667%,rgba(49, 20, 191,0.2) 16.667%, rgba(49, 20, 191,0.2) 33.334%,rgba(160, 39, 185,0.2) 33.334%, rgba(160, 39, 185,0.2) 50.001%,rgba(123, 32, 187,0.2) 50.001%, rgba(123, 32, 187,0.2) 66.668%,rgba(234, 51, 181,0.2) 66.668%, rgba(234, 51, 181,0.2) 83.335%,rgba(86, 26, 189,0.2) 83.335%, rgba(86, 26, 189,0.2) 100.002%),linear-gradient(90deg, rgb(29, 6, 130),rgb(251, 111, 62));
  color: white; }

 .main{ width: 50%;
        margin: auto;
        background-color: #7B2550;
        padding: 20px;
        border: 10px solid #620031;
 }
 h1, h2, h3 {
     font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
}